* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#btn{
    font-size: 20px;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

#btn:hover{
    transform: scale(1.1);
}